services:
  mysql:
    container_name: mysql
    image: mysql
    restart: always
    ports: 
      - 3306:3306
    environment: 
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD_SKELETON}
    volumes: 
      - ./MySql/InitDatabase.sql:/docker-entrypoint-initdb.d/init.sql:rw
      - mysql_data:/var/lib/mysql
  
  
volumes:
  mysql_data:
  