services:
  weatherforecastconsumersyncdatabases:
    image: distributed/weatherforecastconsumersyncdatabases:latest
    restart: always
    environment:
      - DOTNET_ENVIRONMENT=${WEATHERFORECAST_CONSUMER_DOTNET_ENVIRONMENT}
      - AppName=${WEATHERFORECAST_CONSUMER_AppName}
      - keysFolder=${WEATHERFORECAST_CONSUMER_keysFolder}
      - ConnectionStrings__MongoDbConnection
      - ConnectionStrings__OpenTelemetry
      - RabbitMqData__HostName
      - RabbitMqData__Credentials__Username
      - RabbitMqData__Credentials__Password
      - RabbitMqData__Consumer__IntegrationQueue
    volumes:
      - dotnetapp_keys_data:${WEATHERFORECAST_CONSUMER_keysFolder}

volumes:
  dotnetapp_keys_data:
