services:
  weatherforecastapi:
    container_name: weatherforecastapi
    restart: always
    build:
      context: ../src
      dockerfile: weatherForecastDockerfile
      args:
        - environmentDeploy=${WEATHERFORECAST_ASPNETCORE_ENVIRONMENT_SKELETON}
        - certficatePathFrom=${WEATHERFORECAST_ASPNETCORE_Kestrel_Certificate_From_Path_SKELETON}
        - certificatePathTo=${WEATHERFORECAST_ASPNETCORE_Kestrel__Certificates__Default__Path_SKELETON}
        - certificatePass=${WEATHERFORECAST_ASPNETCORE_Kestrel__Certificates__Default__Password_SKELETON}
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=${WEATHERFORECAST_ASPNETCORE_Kestrel__Certificates__Default__Path_SKELETON}
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${WEATHERFORECAST_ASPNETCORE_Kestrel__Certificates__Default__Password_SKELETON}
      - ASPNETCORE_ENVIRONMENT=${WEATHERFORECAST_ASPNETCORE_ENVIRONMENT_SKELETON}
      - ASPNETCORE_URLS=${WEATHERFORECAST_ASPNETCORE_URLS_SKELETON}
      - AppName=${WEATHERFORECAST_AppName_SKELETON}
      - keysFolder=${WEATHERFORECAST_keysFolder_SKELETON}
      - ConnectionStrings__DistributedContext=${WEATHERFORECAST_ConnectionStrings__DistributedContext_SKELETON}
      - ConnectionStrings__MongoDbConnection=${WEATHERFORECAST_ConnectionStrings__MongoDbConnection_SKELETON}
      - ConnectionStrings__RedisConnection=${WEATHERFORECAST_ConnectionStrings__RedisConnection_SKELETON}
      - ConnectionStrings__OpenTelemetry=${WEATHERFORECAST_ConnectionStrings__OpenTelemetry_SKELETON}
      - RabbitMqData__HostName=${WEATHERFORECAST_RabbitMqData_HostName_SKELETON}
      - RabbitMqData__Credentials__Username=${WEATHERFORECAST_RabbitMqData_Credentials_Username_SKELETON}
      - RabbitMqData__Credentials__Password=${WEATHERFORECAST_RabbitMqData_Credentials_Password_SKELETON}
      - RabbitMqData__Publisher__IntegrationExchange=${WEATHERFORECAST_RabbitMqData_Publisher_IntegrationExchange_SKELETON}
      - RabbitMqData__Publisher__DomainExchange=${WEATHERFORECAST_RabbitMqData_Publisher_DomainExchange_SKELETON}
      - RabbitMqData__Consumer__IntegrationQueue=${WEATHERFORECAST_RabbitMqData_ConsumerSettings_IntegrationQueue_SKELETON}
      - RabbitMqData__Consumer__DomainQueue=${WEATHERFORECAST_RabbitMqData_ConsumerSettings_DomainQueue_SKELETON}
    ports:
      - "7325:80"
      - "7326:443"
    volumes:
      - dotnetapp_keys_data:${WEATHERFORECAST_keysFolder_SKELETON}

volumes:
  dotnetapp_keys_data:
