version: '3.8'

services:
  opentelemetry-collector:
    image: otel/opentelemetry-collector:latest
    container_name: opentelemetry_collector
    command: [ "--config=/etc/openTelemetry.yaml" ]
    volumes:
      - ./Observability/openTelemetry.yaml:/etc/openTelemetry.yaml
    ports:
      - "8888:8888"   # Prometheus metrics exposed by the collector
      - "8889:8889"   # Prometheus exporter metrics
      - "4317:4317"   # OTLP gRPC receiver


  prometheus-opentelemetry:
    image: prom/prometheus:latest
    container_name: prometheus_opentelemetry
    volumes:
      - ./Observability/prometheus.yaml:/etc/prometheus/prometheus.yml
      - prometheus_metrics_data:/prometheus
    ports:
      - 9090:9090

  zipkin-opentelemetry:
    image: openzipkin/zipkin:latest
    container_name: zipkin_opentelemetry
    ports:
      - "9411:9411"

volumes:
  prometheus_metrics_data:
  grafana_metrics_data:
  