# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3.2.0
      with:
        dotnet-version: 7.0.x

    - name: Build
      run: dotnet build ./src/
    
    - name: Setup Docker
      uses: docker/setup-buildx-action@v2
    
    - name: Read .env
      run: more ./.docker/.env.test

    - name: Ejecutar comando de PowerShell
      run: |
        cd .docker
        ls -la
        pwsh -File ./docker-compose.ps1 up test
        cd ..
  
    - name: Docker ps
      run: |
        docker ps -a
        sleep 5s
      
    - name: Test
      run: dotnet test ./src/
